.header {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #FF0042;
}

.header__text {
  font-size: 2rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}