.list-of-items__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5em 14em 0 14em;
  border: 2px solid black;
}

.list-of-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start;
}

.list-of-items__item {
  display: flex;
  justify-content: center;
}

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em;
}

.add-item__button {
  background: none;
  background-color: #FF0042;
  color: white;
  border: none;
  border-radius: 2em;
  padding: 0.75em;
  min-width: 12em;
  margin-bottom: 1em;
  outline: inherit;
  transition: transform 0.2s;
  &:hover {
    transform: scale(1.15);
    transition: transform 0.2s;
  }
}