.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em; }

.form-text__input {
  max-width: 15rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
  outline: inherit;
  color: gray;
  border: 0.03125rem solid grey;
  opacity: 0.6;
  background-color: darkgrey; }
  .form-text__input::-webkit-input-placeholder {
    color: gray; }

.form-text__title {
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 6rem 2rem; }
