.dash-board__container {
  position: relative;
  display: flex;
  height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  background-color: #d1b5e8; }

.list-of-items__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5em 14em 0 14em;
  border: 2px solid black; }

.list-of-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start; }

.list-of-items__item {
  display: flex;
  justify-content: center; }

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em; }

.add-item__button {
  background: none;
  background-color: #FF0042;
  color: white;
  border: none;
  border-radius: 2em;
  padding: 0.75em;
  min-width: 12em;
  margin-bottom: 1em;
  outline: inherit;
  transition: transform 0.2s; }
  .add-item__button:hover {
    transform: scale(1.15);
    transition: transform 0.2s; }

.list-item__container {
  position: relative;
  display: flex;
  min-width: 24em;
  width: 90%;
  height: 100%;
  flex-direction: row;
  margin: 0 2em;
  border-bottom: 0.015em solid black; }
  .list-item__container:last-child {
    border: none; }

.list-item__content {
  display: flex;
  flex-direction: column; }

.list-item__image {
  width: 10em;
  height: 10em;
  padding: 1em 0.5em;
  object-fit: contain; }

.list-item__title {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.list-item__price {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.list-item__sold {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em;
  overflow: none; }
  @media (min-width: 767px) {
    .form-container {
      overflow: hidden; } }

.form-text__input {
  max-width: 15rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
  outline: inherit;
  color: white;
  border: 0.03125rem solid grey;
  border-radius: 2rem;
  opacity: 0.6;
  background-color: darkgrey; }
  .form-text__input::-webkit-input-placeholder {
    color: gray; }

.form-text__title {
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  min-width: 10rem;
  text-align: center;
  margin: 3rem 1rem; }
  @media (min-width: 767px) {
    .form-text__title {
      font-size: 2.5rem; } }

.weather-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 1rem 4rem; }

.weather {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  justify-content: space-around; }
  @media (min-width: 767px) {
    .weather {
      flex-direction: row;
      text-align: left;
      max-width: 35rem; } }

.weather-col {
  display: flex;
  flex-direction: column;
  text-align: center; }
  @media (min-width: 767px) {
    .weather-col {
      text-align: left; } }

.weather-description {
  display: flex;
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  font-size: 1rem;
  color: white;
  margin-bottom: 1rem; }

.weather-text {
  color: white;
  font-size: 2.25rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400;
  margin-top: 1.5rem;
  opacity: 0.6; }
  @media (min-width: 767px) {
    .weather-text {
      margin-top: 0; } }

html, body {
  margin: 0; }
