.dash-board__container {
  position: relative;
  display: flex;
  height: 100vh;
  min-width: 100vw;
  flex-direction: column;
  background-color: #d1b5e8; }

.header {
  position: relative;
  display: flex;
  width: 100vw;
  justify-content: center;
  background-color: #FF0042; }

.header__text {
  font-size: 2rem;
  color: white;
  font-family: Verdana, Geneva, Tahoma, sans-serif; }

.list-of-items__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 5em 14em 0 14em;
  border: 2px solid black; }

.list-of-items {
  display: flex;
  flex-direction: column;
  padding: 0;
  align-items: flex-start; }

.list-of-items__item {
  display: flex;
  justify-content: center; }

.empty-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 4em; }

.add-item__button {
  background: none;
  background-color: #FF0042;
  color: white;
  border: none;
  border-radius: 2em;
  padding: 0.75em;
  min-width: 12em;
  margin-bottom: 1em;
  outline: inherit;
  transition: transform 0.2s; }
  .add-item__button:hover {
    transform: scale(1.15);
    transition: transform 0.2s; }

.list-item__container {
  position: relative;
  display: flex;
  min-width: 24em;
  width: 90%;
  height: 100%;
  flex-direction: row;
  margin: 0 2em;
  border-bottom: 0.015em solid black; }
  .list-item__container:last-child {
    border: none; }

.list-item__content {
  display: flex;
  flex-direction: column; }

.list-item__image {
  width: 10em;
  height: 10em;
  padding: 1em 0.5em;
  object-fit: contain; }

.list-item__title {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold; }

.list-item__price {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.list-item__sold {
  font-size: 1em;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 400; }

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 2em; }

.form-text__input {
  max-width: 15rem;
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
  background: none;
  outline: inherit;
  color: gray;
  border: 0.03125rem solid grey;
  opacity: 0.6;
  background-color: darkgrey; }
  .form-text__input::-webkit-input-placeholder {
    color: gray; }

.form-text__title {
  font-size: 2.5rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  margin: 6rem 2rem; }

html, body {
  margin: 0; }
